interface {{ transports.interface_1.name }}.{{ transports.interface_1.vlan }}
 description L3 TRANSPORT INTERFACE TO MAN {{ vrf_name }}
 encapsulation dot1Q {{ transports.interface_1.vlan }}
 vrf forwarding {{ vrf_name }}
 ip address {{ transports.interface_1.ip }} {{ transports.mask }}
!
interface {{ transports.interface_2.name }}.{{ transports.interface_2.vlan }}
 description L3 TRANSPORT INTERFACE TO MAN {{ vrf_name }}
 encapsulation dot1Q {{ transports.interface_2.vlan }}
 vrf forwarding {{ vrf_name }}
 ip address {{ transports.interface_2.ip }} {{ transports.mask }}
!
!
interface {{ vrf_lan.lag_interface }}.{{ vrf_vlan }}
 description L3 LAN INTERFACE {{ vrf_name }}
 encapsulation dot1Q {{ vrf_vlan }}
 vrf forwarding {{ vrf_name }}
 ip address {{ vrf_lan.interface_1.ip }} {{ vrf_lan.mask }}
{% for helper in vrf_lan.ip_helpers %}
 ip helper-address {{ helper }}
{% endfor %}
 ip pim sparse-mode
 {{ vrf_lan.fhrp_type }} {{ vrf_lan.fhrp_group }} ip {{ vrf_lan.fhrp_gw_ip }}
 {{ vrf_lan.fhrp_type }} {{ vrf_lan.fhrp_group }} timers 1 3
