vrf definition {{ vrf_name }}
 address-family ipv4
 exit-address-family
!
!
{% if groups['2911-routers'] | length > 1 %}
  {%- include "2911-dual.j2" %}
{% else %}
  {%- include "2911-single.j2" %}
{% endif %}
!
!
router ospf {{vrf_vlan}} vrf {{ vrf_name }}
{% if inventory_hostname[-1] == "1" %}
 router-id {{ vrf_lan.interface_1.ip }}
{% else %}
 router-id {{ vrf_lan.interface_2.ip }}
{% endif %}
 auto-cost reference-bandwidth 100000
 capability vrf-lite
{% for item in ospf.networks %}
 network {{ item.network }} {{ item.wildcard_mask }} area {{ item.area }}
{% endfor %}
!
!
end
