vrf definition {{ vrf.name }}
 !
 address-family ipv4
 exit-address-family
!
!
vlan {{ vrf.vlan }}
 name {{ vrf.name }}
vlan {{ vrf_trans1.vlan }}
 name {{ vrf_trans1.name }}
vlan {{ vrf_trans2.vlan }}
 name {{ vrf_trans2.name }}
!
!
{% if inventory_hostname[-1] == "1" %}
spanning-tree vlan {{ vrf.vlan }} priority 24576
!
{% else %}
spanning-tree vlan {{ vrf.vlan }} priority 28672
{% endif -%} 
!
interface {{ L3.trans1.name }}
 switchport trunk allowed vlan add {{ vrf_trans1.vlan }}
!
interface {{ L3.trans2.name }}
 switchport trunk allowed vlan add {{ vrf_trans2.vlan }}
!
interface {{ lag_interface.name }}
 switchport trunk allowed vlan add {{ vrf.vlan }}
!
{% for range in access_downlinks.ranges %}
interface range {{ range }}
 switchport trunk allowed vlan add {{ vrf.vlan }}
{% endfor %}
!
{% for interface in access_downlinks.interfaces %}
interface {{ interface }}
 switchport trunk allowed vlan add {{ vrf.vlan }}
{% endfor %}
!
interface Vlan{{ vrf_trans1.vlan }}
 description {{ vrf_trans1.name }}
 vrf forwarding {{ vrf.name }}
 {% if inventory_hostname[-1] == "1" -%}
 ip address {{ L3.trans1.router1_ip }} {{ L3.trans_mask }}
 {% else -%}
 ip address {{ L3.trans1.router2_ip }} {{ L3.trans_mask }}
 {% endif -%}
 no ip redirects
 ip pim sparse-mode
 ip ospf {{ vrf.vlan }} area 0
 no shutdown
!
interface Vlan{{ vrf_trans2.vlan }}
 description {{ vrf_trans2.name }}
 vrf forwarding {{ vrf.name }}
 {% if inventory_hostname[-1] == "1" -%}
 ip address {{ L3.trans2.router1_ip }} {{ L3.trans_mask }}
 {% else -%}
 ip address {{ L3.trans2.router2_ip }} {{ L3.trans_mask }}
 {% endif -%}
 no ip redirects
 ip pim sparse-mode
 ip ospf {{ vrf.vlan }} area 0
 no shutdown
!
interface Vlan{{ vrf.vlan }}
 description {{ vrf.name }} Network
 vrf forwarding {{ vrf.name }}
 {% if inventory_hostname[-1] == "1" -%}
 ip address {{ L3.router1_ip }} {{ L3.mask }}
 {% else -%}
 ip address {{ L3.router2_ip }} {{ L3.mask }}
 {% endif -%}
 {%- for ip in L3.helpers -%}
 ip helper-address {{ ip }}
 {% endfor -%}
 {% if L3.fhrp.type.upper() == "HSRP" -%}
 standby version 2
 standby {{ L3.fhrp.group }} ip {{ L3.fhrp.ip }}
 standby {{ L3.fhrp.group }} timers 1 3
 {% endif -%}
 {% if inventory_hostname[-1] == "1" -%}
 standby {{ L3.fhrp.group }} priority 110
 standby {{ L3.fhrp.group }} preempt
 {% endif -%}
 no ip redirects
 ip pim sparse-mode
 ip ospf {{ vrf.vlan }} area {{ ospf_area }}
 no shutdown
!
!
router ospf {{ vrf.vlan }} vrf {{ vrf.name }}
 {% if inventory_hostname[-1] == "1" -%}
 router-id {{ L3.router1_ip }}
 {% else -%}
 router-id {{ L3.router2_ip }}
 {% endif -%}
 auto-cost reference-bandwidth 100000
 capability vrf-lite
 area {{ ospf_area }} range {{ ospf_network }} {{ L3.mask }}
!
!
!
!
end
