{% for vrf in vrfs %}
vrf definition {{ vrf.name }}
 !
 address-family ipv4
 exit-address-family
!
!
{% for vlan in vrf.vlans %}
vlan {{ vlan.id }}
 name {{ vlan.name }}
!
{% endfor %}
!
{% if inventory_hostname[-1] == "1" %}
spanning-tree vlan {{ vrf.routers.lag.vlan }} priority 24576
!
{% else %}
spanning-tree vlan {{ vrf.routers.lag.vlan }} priority 28672
{% endif -%} 
!
interface {{ vrf.routers.trans_1.name }}
 switchport trunk allowed vlan add {{ vrf.routers.trans_1.vlan }}
!
interface {{ vrf.routers.trans_2.name }}
 switchport trunk allowed vlan add {{ vrf.routers.trans_2.vlan }}
!
interface {{ vrf.routers.lag.name }}
 switchport trunk allowed vlan add {{ vrf.routers.lag.vlan }}
!
!
interface Vlan{{ vrf.routers.trans_1.vlan }}
 description {{ vrf.name }} {{ vrf.routers.trans_1.description }}
 vrf forwarding {{ vrf.name }}
 {% if inventory_hostname[-1] == "1" -%}
 ip address {{ vrf.routers.trans_1.r1_ip }} {{ vrf.routers.trans_1.mask }}
 {% else -%}
 ip address {{ vrf.routers.trans_1.r2_ip }} {{ vrf.routers.trans_1.mask }}
 {% endif -%}
 no ip redirects
 ip pim sparse-mode
 ip ospf {{ vrf.routers.lag.vlan }} area {{ vrf.routers.trans_1.ospf_area }}
!
interface Vlan{{ vrf.routers.trans_2.vlan }}
 description {{ vrf.name }} {{ vrf.routers.trans_2.description }}
 vrf forwarding {{ vrf.name }}
 {% if inventory_hostname[-1] == "1" -%}
 ip address {{ vrf.routers.trans_2.r1_ip }} {{ vrf.routers.trans_2.mask }}
 {% else -%}
 ip address {{ vrf.routers.trans_2.r2_ip }} {{ vrf.routers.trans_2.mask }}
 {% endif -%}
 no ip redirects
 ip pim sparse-mode
 ip ospf {{ vrf.routers.lag.vlan }} area {{ vrf.routers.trans_2.ospf_area }}
!
interface Vlan{{ vrf.routers.lag.vlan }}
 description {{ vrf.name }} {{ vrf.routers.lag.description }}
 vrf forwarding {{ vrf.name }}
 {% if inventory_hostname[-1] == "1" -%}
 ip address {{ vrf.routers.lag.r1_ip }} {{ vrf.routers.lag.mask }}
 {% else -%}
 ip address {{ vrf.routers.lag.r2_ip }} {{ vrf.routers.lag.mask }}
 {% endif -%}
 {%- for ip in vrf.routers.lag.helpers -%}
 ip helper-address {{ ip }}
 {% endfor -%}
 {% if vrf.routers.lag.fhrp_type.upper() == "HSRP" -%}
 standby version 2
 standby {{ vrf.routers.lag.hsrp.group }} ip {{ vrf.routers.lag.hsrp.gw_ip }}
 standby {{ vrf.routers.lag.hsrp.group }} timers 1 3
 {% endif -%}
 {% if inventory_hostname[-1] == "1" -%}
 standby {{ vrf.routers.lag.hsrp.group }} priority 110
 standby {{ vrf.routers.lag.hsrp.group }} preempt
 {% endif -%}
 no ip redirects
 ip pim sparse-mode
 ip ospf {{ vrf.routers.lag.vlan }} area {{ vrf.routers.lag.ospf_area }}
!
!
router ospf {{ vrf.routers.lag.vlan }} vrf {{ vrf.name }}
 {% if inventory_hostname[-1] == "1" -%}
 router-id {{ vrf.routers.lag.r1_ip }}
 {% else -%}
 router-id {{ vrf.routers.lag.r2_ip }}
 {% endif -%}
 auto-cost reference-bandwidth 100000
 capability vrf-lite
 area {{ vrf.routers.lag.ospf_area }} range {{ vrf.routers.routing.ospf.network }} {{ vrf.routers.lag.mask }}
!
!
!
!
{% endfor %}
